<!DOCTYPE html>
<html>
  <head>
    <title>
      Tag-lyzer
    </title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1> Tweet Dashboard </h1>
      </div>
    </div>
    <div id="tweet-list"></div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="js/bundle.js"></script>
  </body>
</html>
