<!DOCTYPE html>
<html>
  <head>
    <title>
      Tag-lyzer
    </title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/leaflet/dist/leaflet.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="../bower_components/epoch/epoch.min.css" />
    <link rel="stylesheet" href="css/styles.css"/>
  </head>

  <body>

    <div id="react-component"></div>

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/react/react.js"></script>
    <script src="../bower_components/d3/d3.js"></script>
    <script src="../bower_components/leaflet/dist/leaflet.js"></script>
    <script src="../bower_components/leaflet/dist/leaflet-src.js"></script>
    <!-- endbower -->
    <script src="../bower_components/epoch/epoch.min.js"></script>
    <script src="js/heatmap.min.js"></script>
    <script src="../bower_components/heatmap.js.bower/src/heatmap-leaflet.js"></script>
    <script src="js/leaflet-heatmap.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="js/components.js"></script>
    <script src="js/bundle.js"></script>
  </body>
</html>
